body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
ul {
    display: inline-block;
}

li {
    border: 1px dashed;
    list-style: none;
    margin: 10px;
}
div.wrapper {
    display: inline-block;
    padding: 10px;
}

img.dup {
    width: 200px;
}
